<% if !@feed_entries.nil? %>
<div id='left-side'>
  <% (0..(@feed_entries.length - 1)).step(2).each_with_index do |i, index| %>
  <% break if @feed_entries[i].nil?  %>
  <%= render :partial => 'single_blog', :locals => {:feed => @feed_entries[i], :post_id => ('lhs' + index.to_s)} %>
  <%end%>
</div>
<div id='right-side'>
  <% (0..(@feed_entries.length - 1)).step(2).each_with_index do |i, index| %>
      <% break if @feed_entries[i+1].nil?  %>
      <%= render :partial => 'single_blog', :locals => {:feed => @feed_entries[i+1], :post_id => ('rhs' + index.to_s)} %>
  <% end %>
</div>
<% end %>
