<div class="input-section clearfix">
  <div class="search-terms">
    <div class="search-terms-head">Twitter Search terms</div>
    <div class="search-terms-note small-txt">Add in the keywords with comma to search twitter conversations around this topic</div>
  </div>
  <%= form_tag(search_tweets_path(@feed_entry),:method=>:get,:id=>"keyword_search_form", :class=>"clearfix") do%>
  <%= text_field_tag :keywords,params[:keywords],:placeholder=>"Example: Keyword One, #Hashtag, @TwitterName",:type=>"search",:class=>"input-tags" %>
  <button class="search-keyword round-corner">
    Add Keyword
  </button>
  <% end %>
</div>
<div class="tags small-txt">
  <ul class="keywords">
    <% @feed_entry.search_keywords.each do |keyword| %>
    <li class="round-corner">
      <span class="searchTag">   <%="#{keyword.keyword} (#{keyword.tweets.parent_tweets.has_children.size})" %></span>
   
      <%= link_to "<i class='loading'></i>".html_safe, remove_search_keyword_feed_entry_path(@feed_entry,:keyword_id=>keyword.id) ,:class=>"remove_search_keyword" ,"data-keyword-id"=>keyword.id ,"data-search-name"=>keyword.keyword%>
    </li>
    <% end %>
  </ul>
</div>
