<div id="header-below" class='row'>
  <div class="heder-next-left span8">
    <h1 class="story-title">
      <!-- <a href=".url.to_s"> -->
      <%= link_to @feed_entry.title, @feed_entry.url.to_s, :target => 'blank' %>
    </h1>
    <div class="post-stats small-txt"> 
      <div><%= @feed_entry.clicks_count rescue '0' %></div>people viewed your post via 
      <a href="http://twitter.com/c4chq" target="_blank">@C4C</a>
    </div>
  </div>
    <!-- <i class="separator-dash">
      <%= '' %>
    </i> -->
  <div class="follow-section span2 <%= 'active' if active_class=='following'%>">
    <%= link_to "#{@user_converations.size} Following", following_feed_entry_path(@feed_entry) %>
    <div class="link-description">
     Conversations you are following
    </div>
  </div>
  <div class="feed-section span2 <%= 'active' if active_class=='feed'%>">
    <%= link_to 'Feed', feed_entry_path(@feed_entry) %>
    <div class="link-description">
      Search Live Conversation
    </div>
  </div>
</div>
