<script id="tweet_template" type="text/x-handlebars-template">
  <div class="post-area round-corner feed-tweets" id="tweet_{{tweet_id.$oid}}" data-feed-entry-id="{{feed_entry_id}}" data-keyword-id="{{searchKeywordIds search_keywords}}">
    <div class="post-area-heading clearfix">
    
    
      {{#isFollowConversation tweet_id}}
        <div class="fontawesome-unfollow"  data-id={{tweet_id.$oid}} data-feed-entry-id="{{feed_entry_id}}" id="follow_{{tweet_id.$oid}}">Unfollow conversation</div>
      {{else}}
        <div class="fontawesome-follow" data-id={{tweet_id.$oid}} data-feed-entry-id="{{feed_entry_id}}" id="follow_{{tweet_id.$oid}}">Follow conversation</div>
      {{/isFollowConversation}}
     <div class="fontawesome-map-marker">{{displayTweetLocation tweet_data  }}</div> 
    <div class="relevance" data-id={{tweet_id.$oid}}>Mark Not Relevant</div>
    </div>

    <div class="post-tags small-txt">
        {{#each search_keywords}}
          <span class="round-corner" data-search-name="{{this.keyword}}" data-search-keyword-id={{this.$oid}}>{{this.keyword}}</span>
        {{/each}}
        {{#if is_unseen }}
          <span class="new-tweet">New</span>
        {{/if}}
    </div>
    <div id="activity">
      by <a href={{tweet_data.actor.link}} class="by-user" target="_blank">{{screenName tweet_data.actor.link}} </a>
        <span class="by-user-time">
            {{showTweetTime tweet_data.object.postedTime}}
        </span>
    </div>
    <div class="post-section clearfix">
      <p class="post-text">
        {{ tweet_data.body }}
      </p>
      
      {{#isUrls tweet_data.content.twitter_entities }}
        <p>
          {{#each tweet_data.content.twitter_entities.urls}}
            <a href={{this.expanded_url}} class="post-link">{{this.expanded_url}} </a>
          {{/each}}
        </p>  
        {{/isUrls}}

      <a href="#" class="fontawesome-reply round-corner" data-id={{tweet_id.$oid}} data-screen-name="@{{screenName tweet_data.actor.link}}">Reply</a>
      <div class="replyBox"></div>
      <div id="tweet_message_{{tweet.tweet_id.$oid}}" class="reply_tweet_mesage"></div>
    </div>

    <div class="post-tweets small-txt">

      {{#each replies}}
        {{> tweet_reply}}
      {{/each}}  
      
  </div>
</script>
