
<script id="following_tweet_template" type="text/x-handlebars-template">
  <div class="post-area round-corner following-tweets" id="tweet_{{tweet_id.$oid}}" data-feed-entry-id="{{feed_entry_id}}">
    <div class="post-area-heading unfollow-heading clearfix">
      <div class="fontawesome-unfollow" data-id={{tweet_id.$oid}} data-feed-entry-id="{{feed_entry_id}}" id="follow_{{tweet_id.$oid}}">Unfollow Conversation</div>
      <div class="fontawesome-map-marker">{{displayTweetLocation tweet_data  }}</div>
      <div class="icon-area">
        <a class="fontawesome-angle-up toggle-replies"  id="1" href="#" title="Most replies first"></a>
      </div>
    </div>
    <div class="post-tags small-txt">
        {{#each search_keywords}}
          <span class="round-corner">{{this.keyword}}</span>
        {{/each}}
    </div>


    <div class="post-section clearfix">
      <span>by</span>
       <a href={{tweet_data.actor.link}} class="by-user" target="_blank">{{screenName tweet_data.actor.link}} </a>
      <span class="by-user-time">
        {{showTweetTime tweet_data.object.postedTime}}
      </span>
      <p class="post-text">
        {{ tweet_data.body }}
      </p>
      <a href="#" class="fontawesome-reply round-corner" data-id={{tweet_id.$oid}} data-screen-name="@{{tweet_data.tweet.user.screen_name}}">Reply</a>
    </div>
    <div class="post-tweets small-txt">
      {{#each replies}}
        {{> tweet_reply}}

      {{/each}}
    </div>
  </div>
</script>
