<div class="empty-feed">
  <div class="import-feed-now">To get started, import a blog feed</div>
    <%= form_tag(feeds_path,:id=>"import_feed_form") do %>
      <%= text_field_tag :url,'', class: 'import-feed-input', placeholder: 'http://Enter Blog URL' %>
      <button type="submit" name="Import now" value="submit" class="submit-now">
        Import Blog
      </button>
    <% end %>
  </div>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    C4C.verifyFeed.initImportFeed();
  </script>
<% end %>