<script id="mark_non_relavant_template" type="text/x-handlebars-template">
<div class="undo-conv" data-id={{id}} id="non_relavant_{{id}}">
  <div class="unrelevant" >Permanently remove this conversation ?</div>
  <button class="remove-tweet round-corner" id="unrelevant_{{id}}">Remove</button>
  <button class="undo round-corner" id="undo_{{id}}">Cancel</button>
</div>  
</script>
