<div class = 'overlay-modal'></div>
<div id="email_modal_form">
  <%= form_tag update_email_path, :method => :post, :id => 'dialog-box' do %>
  <div class="fields">
    <div class="fields-header">
      <div class="logo"></div>
    </div>
    <%= text_field_tag :email, '', class: 'modal-form-email-input', placeholder: 'To continue, enter your email address', type: 'email' %>
    <button type="submit">Update</button>
  </div>
  <% end %>
</div>
<script>
  $('form').submit(function(){
    var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i)
    if(!(pattern.test($('.modal-form-email-input').val()))){

      alert('enter email');
      $('.modal-form-email-input').css('border','1px solid red');
      return false;
    }
  });
</script>