<script id="reply_text_template" type="text/x-handlebars-template">
   <textarea placeholder="@reply to" class="reply-box round-corner" data-tweet-id="{{id}}" id="reply_box_{{id}}" maxlength="135">{{screen_name}}</textarea>
  <div class="button-area clearfix" data-id={{id}} id="reply_{{id}}">
  <span class="replyError" id="reply_error_{{id}}"></span> 
    <button class="cancel-reply"  id="cancel_reply_{{id}}" data-tweet-id="{{id}}">Cancel</button> 
    <button class="reply-tweet round-corner" id="reply_tweet_{{id}}" data-tweet-id="{{id}}">Tweet</button>
  </div>


</script>  