<script id="reply_tweet_template" type="text/x-handlebars-template"> 
  {{#if tweet.tweet_data.body }}
   <div class="single-tweet clearfix">
          <span>by</span>
          <a href="{{tweet.tweet_data.actor.link}}" class="by-user" target="_blank">{{screenName tweet.tweet_data.actor.link}}</a>
          <span class="by-user-time">
            {{showTweetTime tweet.tweet_data.object.postedTime}}
          </span>
          <p class="tweet-content">
            {{tweet.tweet_data.body}}
            {{#isUrls tweet.tweet_data.twitter_entities }}
              {{#each tweet.tweet_data.twitter_entities.urls }}
                <a href={{this.expanded_url}}>{{this.expanded_url}} </a>
              {{/each}}
              
            {{/isUrls}}
            {{#isHashTag tweet.tweet_data.twitter_entities}}
              {{# each tweet.tweet_data.tweet.twitter_entities.hashtags }}
               <a href="#" class="">#{{this.text}}</a>
              {{/each}}
             
            {{/isHashTag }}
            
          </p>
           <a href="#" class="fontawesome-reply" data-id={{tweet.tweet_id.$oid}} data-screen-name="@{{screenName tweet.tweet_data.actor.link}}">Reply</a>
           <div class="replyBox"></div>
           <div id="tweet_message_{{tweet.tweet_id.$oid}}" class="reply_tweet_mesage"></div>
        </div>
  {{#each tweet.replies}}
    {{> tweet_reply}}
  {{/each}}
  {{/if}}
</script>      