<script id="search_keyword_tag_template" type="text/x-handlebars-template">
<li>
  {{#if search_keyword_id}}
    <span class="searchTag">{{displaySearchKeywordTag keyword}} </span>
    <a class="remove_search_keyword" data-keyword-id="{{search_keyword_id}}" data-search-name="{{keyword}}" href="/feed_entries/{{feed_entry_id}}/remove_search_keyword?keyword_id={{search_keyword_id}}"> <i class="fontawesome-remove"></i></a>
  {{else}}  
    {{keyword}} 
    <a class="remove_search_keyword"  data-search-name="{{keyword}}" href="#"> <i class="loading"></i></a>
  {{/if}}
  
</li>
</script>    