<div class="blog-single round-corner <%= classname rescue ''%>" id=<%=feed.id%>>
  <div class="blog-list-meta">
    <div class="hot-or-not"></div>
    <div class="follow-count round-corner">
      <%= feed.user_conversations.size %>
    </div>
    <div class="following-text">following</div>
    <div class='important-toggle'>
      <a href="<%=toggle_blog_important_feed_entry_path(feed)%>" class='imp_flag' data-flag="<%= feed.important ? 1 : 0%>">
        <%= feed.important ? raw("<i class='fontawesome-star'></i>") : raw("<i class='fontawesome-star-empty'></i>") %>
      </a>
    </div>
  </div>
  <div class="blog-list-details">
    <span class="blog-post-heading">
      <%= link_to feed.title.to_s.html_safe, feed_entry_path(feed.id) %>
    </span>
    <%if feed.search_keywords.present?%>
    <div class="meta-count">
      <ul class="stats-list">
      <li class="fontawesome-comment" title="conversations"><%= feed.user_conversations.size %></li>
      <li class="fontawesome-male" title="<%=feed.people_talking_count%> people talking on this topic."><%=feed.people_talking_count%> </li>
      <li class="fontawesome-bell" title="Unseen Conversations"><%= feed.unseen_tweets.size %></li>
      <li class="fontawesome-eye" title="Your blog was viewed <%=feed.clicks_count%> times via C4C."><%=feed.clicks_count%></li>
      <li class="fontawesome-clock" title="Latest activity <%=time_ago_in_words(feed.last_reply_time) + ' ago' rescue ''%>"> <%=time_ago_in_words(feed.last_reply_time) + ' ago.' rescue ''%> </li>

      </ul>
       
    </div>
    <%end%>
    <div class="post-keywords">
      <%if feed.search_keywords.present?%>

      <h5>Tracking Keywords</h5>
      <ul class="keyword_ulist keywords">
        <% feed.search_keywords.each do |keyword| %>
        <li class="round-corner">
          <%= "#{keyword.keyword} (#{keyword.tweets.parent_tweets.has_children.size})"%>
          <%= link_to "<i class='fontawesome-remove'></i>".html_safe, remove_search_keyword_feed_entry_path(feed,:keyword_id=>keyword.id) ,:class=>"remove_search_keyword" ,"data-keyword-id"=>keyword.id %>
        </li>
        <% end %>
      </ul>
      <a href="#" class='add_keyword_link'>
        <i class='fontawesome-plus'></i>
      </a>
      <%else%>
      <em>I am not listening to anything right now. Add some keywords to get started. <a href="#" class="add_keyword_link">Get me started.</a></em>
      <ul class="keyword_ulist"></ul>
      <%end%>
    </div>

    <div class="blog-list-addkeyword-form">
      <!-- <a class="add-more add_keyword_link">
        Add keywords <i class='fontawesome-chevron-down'></i>
      </a> -->
      <%= form_tag(add_search_keyword_feed_entry_path(feed),:method=>:get,:class=>"keyword_search_form") do%>
      <%= text_field_tag :keywords,params[:keywords],:placeholder=>"Enter keywords here",:type=>"search",:class=>"keywords input-tags round-corner"%>
      <button class="search-keyword round-corner btn btn-success" title="Add keyword"><i class='fontawesome-plus'></i></button>
      <button class="hide_keyword_form round-corner btn btn-danger" title="Cancel"><i class='fontawesome-remove'></i></button>
      <div>
        <small>Example: Keyword one, #HashTag, @TwitterName</small>
      </div>
      <% end %>
    </div>

    
    <script>
      $( function() {
        C4C.feedEntries.addKeywordLink($('<%='#' +feed.id.to_s%>'));
        C4C.feedEntries.removeSearchKeyword($('<%='#' +feed.id.to_s%>'));
        $('<%='#' +feed.id.to_s%>').find('form').on("submit",function(event){
          event.preventDefault();
          C4C.feedEntries.addSearchKeyword($('<%='#' +feed.id.to_s%>'));
        })
        C4C.feedEntries.toggleImportantFlag($('<%='#' +feed.id.to_s%>'));
      });
    </script>
  </div>
</div>
