<%
link_text = "#{@keyword.keyword} (#{@keyword.tweets.size}) <i class=\"fontawesome-remove\"></i>"
new_keyword = link_to link_text.html_safe, 
	remove_search_keyword_feed_entry_path(@feed_entry,:keyword_id=>@keyword.id) ,
	:class=>'remove_search_keyword' ,'data-keyword-id'=>@keyword.id

%>
$('<%='#' +@feed_entry.id.to_s%>').find('form').find("input.keywords").val('');
$('<%='#' +@feed_entry.id.to_s%>').find('ul.keyword_ulist').append('<li><%=new_keyword%></li>');
C4C.feedEntries.removeSearchKeyword($('<%='#' +@feed_entry.id.to_s%>'));