<%if @feed_entries.present?%>
	$('.new-posts-status').html('New posts found!');
	
	<% (0..(@feed_entries.length - 1)).step(2).each do |i|  %>
		<% break if @feed_entries[i].nil?  %>
		$('#left-side').prepend("<%= escape_javascript render :partial => 'single_blog', :locals => {:feed => @feed_entries[i], :classname => 'new-fetched'} %>");
		<% break if @feed_entries[i+1].nil?  %>
		$('#right-side').prepend("<%= escape_javascript render :partial => 'single_blog', :locals => {:feed => @feed_entries[i+1], :classname => 'new-fetched'} %>");
	<%end%>
<%else%>
	$('.new-posts-status').html('No new posts found!');
<%end%>
