<%= render partial: 'feed_entries_header',:locals=>{:active_class=>"following"} %>
<div id="timeline-section">
  <a href="#" title="latest first">Latest First</a>
  <span class="separator">
    <%= '|' %>
  </span>
  <a class="disabled-link" href="#" title="Most replies first">Most Conversations</a>
</div>
<div class="clearfix" id="content-area"></div>
<div class="load-more">
  <a href="#" title="Load More Conversations">
    <%= 'Load more conversations' %>
  </a>
</div>
<%= render :partial=>"following_tweet_template" %>
<%= render :partial=>"reply_text_template" %>
<%= render :partial=>"reply_tweet_template" %>
<%= content_for :javascript do %>
  <script>
    
    $(document).ready( function() {
      C4C.followingTweet.showFollowingTweets("<%= user_conversations_feed_entry_path(@feed_entry)%>")
      C4C.twitterFeed.setFeedUrl("<%= @feed_entry.bitly_url%>");
      C4C.twitterFeed.setFeedEntryID("<%= @feed_entry.id%>");
        $('#timeline-section > a').click(function(e) {
          e.preventDefault();
          $(this).addClass('disabled-link').siblings('a').removeClass('disabled-link');
        })
    });  
  </script>  
<% end %>
