<%if @feed_entries.present?%>
	<% (0..(@feed_entries.length - 1)).step(2).each do |i|  %>
		<% break if @feed_entries[i].nil?  %>
		$('#left-side').append("<%= escape_javascript render :partial => 'single_blog', :locals => {:feed => @feed_entries[i], :classname => 'new-fetched'} %>");
		<% break if @feed_entries[i+1].nil?  %>
		$('#right-side').append("<%= escape_javascript render :partial => 'single_blog', :locals => {:feed => @feed_entries[i+1], :classname => 'new-fetched'} %>");
	<%end%>

	<% unless @feed_entries.last_page? %>
		$('#load_more_link').attr('href', "/feed_entries?page=<%=@feed_entries.current_page + 1%>")
	<% else %>
		$('#load_more_link').replaceWith('&nbsp;');
	<%end%>

<%end%>