<% if current_user.email.blank? %>
<%= render partial: '/feed_entries/modal_form' %>
<% end %>
<% if @feed_entries.nil? || @feed_entries.empty? %>
<%= render partial: 'import_feed' %>
<% else %>
<div class="search clearfix" id="timeline-section-with-search">
  <div class="feed-title clearfix">
    <a href="/feed_entries/" title="Your imported blog">
      <h1 class="blog-name">
        <%= @feed.title %>
      </h1>
    </a>
    <div class="new-posts-status alert"><%= flash[:message]%></div>
    <a href="<%=fetch_new_articles_feed_entries_path%>" class="fetch-new-posts h1 c4c-tooltip" data-remote='true' data-c4ctooltip='Fetch New Posts'>
      <i class='fontawesome-refresh'></i>
    </a>
  </div>
  <div class="search-side clearfix">
    <div class="sort">
      <span>Sort by</span>
      <select id='sort-selector' class="round-corner">
        <option value="<%=feed_entries_path%>" <%unless params[:filter].present?%>selected<%end%>>Latest First</option>
        <option value="<%=feed_entries_path(:filter => 'oldest')%>" <%if params[:filter]=='oldest'%>selected<%end%>>Oldest First</option>
        <option value="<%=feed_entries_path(:filter => 'conversations')%>" <%if params[:filter]=='conversations'%>selected<%end%>>Most Conversations</option>
        <option value="<%=feed_entries_path(:filter => 'important')%>" <%if params[:filter]=='important'%>selected<%end%>>Important First</option>

        <!--
        <ul class='dropdown'>
        <li><a href="<%=feed_entries_path%>" <%unless params[:filter].present?%>class='active'<%end%>>Latest First</a></li>
        <li><a href="<%=feed_entries_path(:filter => 'oldest')%>" <%if params[:filter]=='oldest'%>class='active'<%end%>>Oldest First</a></li>
        <li><a href="<%=feed_entries_path(:filter => 'conversations')%>" <%if params[:filter]=='conversations'%>class='active'<%end%>>Most Conversations</a></li>
        <li><a href="<%=feed_entries_path(:filter => 'important')%>" <%if params[:filter]=='important'%>class="active"<%end%>>Important First</a></li>
        </ul>
      -->
    </select>
  </div>
  <span class="loading"  style="display: none;"></span>
  <div class="search-field">
    <input class="round-corner" placeholder="Search Blog Title..." type="search" id='search_blog_input' data-url="<%=search_blog_posts_feed_entries_path%>" />
  </div>



</div>
</div>
<div id="blog-list" class="clearfix">
  <%= render partial: 'blog_list' %>
</div>

<div class="load-more">
  <%= link_to_next_page @feed_entries, 'Load more Blog Posts', :id=>'load_more_link', :params=>params%>
</div>
<script>

  $(document).ready( function() {
    C4C.feedEntries.loadMoreBlogPosts();
    C4C.feedEntries.searchBlogPosts();
    $('.fetch-new-posts').bind('ajax:beforeSend', function(){
      $('.fetch-new-posts').addClass( 'rotate-continuous' );
    });
    $('.fetch-new-posts').bind('ajax:complete', function(){
      $('.fetch-new-posts').removeClass( 'rotate-continuous' );
      $('.new-posts-status').fadeIn().delay(2000).fadeOut();
    });

    $( '[data-c4ctooltip]' ).c4cTooltip();  // Init tooltips.



    var sort_select = document.getElementById('sort-selector');
    sort_select.onchange = function(){
      console.log('changed');
      window.location = this.value;
    };



  });
</script>

<% end %>
