<%if @feed_entries.present?%>
	$('.loading').hide();
	$('#blog-list').html("<%= escape_javascript render :partial => 'blog_list' %>");
<%else%>
	$('.loading').hide();
	$('#blog-list').html('No related blog posts found!');
<%end%>