<%= render partial: 'feed_entries_header' ,:locals=>{:active_class=>"feed"}%>
<div class="tags-search-outer row">
  <div id="tags-search">
    <%= render partial: 'feed_entries_tags_search' %>
  </div>
</div>
<!-- <div class="clearfix js-masonry" id="content-area" 
  data-masonry-options='{ "columnWidth": "48%", "itemSelector": ".post-area" }'> -->
  <div class="clearfix" id="content-area" ></div>
<div class="zero-keywords">
  <h3>NO KEYWORD ADDED:</h3>
  Setup your blog.
  Empower your blog to reach out to people who are talking on this topic. Go ahead and add the search terms.
</div>
<div class="load-more">
  <% if @feed_entry.load_more %>
    We're working on finding more conversations. We'll notify you once we are done
  <% else %>
    <a href="<%= load_more_tweets_feed_entry_path(@feed_entry) %>" title="Load More Conversations" id="load_more_tweets">Load more conversations</a>
  <% end %>  

  <span id="load_more_search_message" style="display:none;">We're working on finding more conversations. We'll notify you once we are done</span>
</div>
<%= render :partial=>"reply_text_template" %>
<%= render :partial=> "feed_tweet_template" %>

<%= render :partial=>"mark_non_relavant_template" %>
<%= render :partial=>"reply_tweet_template" %>
<%= render :partial=>"search_keyword_tag_template" %>
<%= subscribe_to "/tweets/#{@feed_entry.id.to_s}" %>
<%= content_for :javascript do %>
<script>

  $(document).ready( function() {
    if ($('.searchTag').html()) {
      if ($('.searchTag').html().length > 0){
        $('.zero-keywords').hide();
      }
    }
    C4C.twitterFeed.setConversationTweets("<%= conversation_tweets_feed_entry_path(@feed_entry)%>",true)
    // C4C.twitterFeed.showFeedTweets("<%= show_feed_tweets_feed_entry_path(@feed_entry)%>")
    C4C.twitterFeed.setFeedEntryID("<%= @feed_entry.id%>");
    <% tweet_ids = @tweets.collect{|tweet|tweet.id.to_s}.to_a %>
    C4C.twitterFeed.renderExistingTweets(<%=raw tweet_ids%>)
    
    C4C.twitterFeed.searchTweet();
    C4C.twitterFeed.loadMoreTweets();
    C4C.twitterFeed.removeSearchKeyword();
    C4C.twitterFeed.setFeedUrl("<%= @feed_entry.bitly_url%>");
    
    C4C.c4cTemplate.initSearchKeywordTagTemplate();
    C4C.twitterFeed.toggleImportantFlag();
    C4C.twitterFeed.subscribePrivatePub();
    C4C.twitterFeed.highlightConversation()
    
  // $(".heder-next-right > div > a").click(function(){
  // $(this).parent("div").addClass("active").siblings("div").removeClass("active");
  // $(this).parent('div').addClass('active');
  // $(this).parent('div').sibing('div').removeClass('active');
// });

  // remove the tags on clicking the cross
  // $('.tags > ul > li >.fontawesome-remove').click(function() {
  //   $(this).parent('li').remove();
  // });
});
</script>

<% end %>

