<html xmlns="http://www.w3.org/1cccccc/xhtml" class=" livepage-loading livepage-loading">
<head>
  <!-- NAME: 1 COLUMN - BANDED -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>C4C conversation suggestions</title>

    <!--[if gte mso 6]>
        <style>
          table.mcnFollowContent {width:100% !important;}
          table.mcnShareContent {width:100% !important;}
        </style>
    <![endif]-->
  <style type="text/css">
    .story-title {
      background-color: #EBEBEB;
    }
    a:-webkit-any-link, a {
      color: -webkit-link;
      text-decoration: none;
      cursor: auto;
    }
    .mcnBoxedTextBlock {
      background-color: #EBEBEB;
    }
    .bodyContainer .mcnTextContent .story-name-small {
      color: #333;
      text-decoration: none;
    }
    body,#bodyTable,#bodyCell{
      height:100% !important;
      margin:0;
      padding:0;
      width:100% !important;
    }
    table{
      border-collapse:collapse;
    }
    img,a img{
      border:0;
      outline:none;
      text-decoration:none;
    }
    h1,h2,h3,h4,h5,h6{
      margin:0;
      padding:0;
    }
    p{
      margin:1em 0;
      padding:0;
    }
    a{
      word-wrap:break-word;
    }
    .ReadMsgBody{
      width:100%;
    }
    .ExternalClass{
      width:100%;
    }
    .ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{
      line-height:100%;
    }
    table,td{
      mso-table-lspace:0pt;
      mso-table-rspace:0pt;
    }
    #outlook a{
      padding:0;
    }
    img{
      -ms-interpolation-mode:bicubic;
    }
    body,table,td,p,a,li,blockquote{
      -ms-text-size-adjust:100%;
      -webkit-text-size-adjust:100%;
    }
    #bodyCell{
      padding:0;
    }
    .mcnImage{
      vertical-align:bottom;
    }
    .mcnTextContent img{
      height:auto !important;
    }
    body,#bodyTable{
      background-color:#ffffff;
    }
    #bodyCell{
      border-top:0;
    }
    h1{
      color:#333333 !important;
      display:block;
      font-family:Helvetica;
      font-size:40px;
      font-style:normal;
      font-weight:bold;
      line-height:125%;
      letter-spacing:-1px;
      margin:0;
      text-align:left;
    }
    h2{
      color:#404040 !important;
      display:block;
      font-family:Helvetica;
      font-size:26px;
      font-style:normal;
      font-weight:bold;
      line-height:125%;
      letter-spacing:-.75px;
      margin:0;
      text-align:left;
    }
    h3{
      color:#333333 !important;
      display:block;
      font-family:Helvetica;
      font-size:18px;
      font-style:normal;
      font-weight:bold;
      line-height:125%;
      letter-spacing:-.5px;
      margin:0;
      text-align:left;
    }
    h4{
      color:#808080 !important;
      display:block;
      font-family:Helvetica;
      font-size:16px;
      font-style:normal;
      font-weight:bold;
      line-height:125%;
      letter-spacing:normal;
      margin:0;
      text-align:left;
    }
    #templatePreheader{
      background-color:#ffffff;
      border-top:0;
      border-bottom:0;
    }
    .preheaderContainer .mcnTextContent,.preheaderContainer .mcnTextContent p{
      color:#333333;
      font-family:Helvetica;
      font-size:11px;
      line-height:125%;
      text-align:left;
    }
    .preheaderContainer .mcnTextContent a{
      color:#333333;
      font-weight:normal;
      text-decoration:underline;
    }
    #templateHeader{
      background-color:#ffffff;
      border-top:0;
      border-bottom:0;
    }
    .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
      color:#333333;
      font-family:Helvetica;
      font-size:15px;
      line-height:150%;
      text-align:left;
    }
    .headerContainer .mcnTextContent a{
      font-weight:normal;
      text-decoration:underline;
    }
    #templateBody{
      background-color:#ffffff;
      border-top:0;
      border-bottom:0;
    }
    .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
      color:#333333;
      font-family:Verdana, Geneva, sans-serif;
      font-size:15px;
      line-height:150%;
      text-align:left;
    }
    .bodyContainer .mcnTextContent a{
      font-weight:normal;
      text-decoration:none;
    }
    #templateFooter{
      background-color:#ffffff;
      border-top:0;
      border-bottom:0;
    }
    .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
      color:#333333;
      font-family:Helvetica;
      font-size:11px;
      line-height:125%;
      text-align:left;
    }
    .footerContainer .mcnTextContent a{
      color:#333333;
      font-weight:normal;
      text-decoration:underline;
    }
    @media only screen and (max-width: 480px){
      body,table,td,p,a,li,blockquote{
        -webkit-text-size-adjust:none !important;
      }

    }   @media only screen and (max-width: 480px){
      body{
        width:100% !important;
        min-width:100% !important;
      }

    }   @media only screen and (max-width: 480px){
      table[class=mcnTextContentContainer]{
        width:100% !important;
      }

    }   @media only screen and (max-width: 480px){
      table[class=mcnBoxedTextContentContainer]{
        width:100% !important;
      }

    }   @media only screen and (max-width: 480px){
      table[class=mcpreview-image-uploader]{
        width:100% !important;
        display:none !important;
      }

    }   @media only screen and (max-width: 480px){
      img[class=mcnImage]{
        width:100% !important;
      }

    }   @media only screen and (max-width: 480px){
      table[class=mcnImageGroupContentContainer]{
        width:100% !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnImageGroupContent]{
        padding:9px !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnImageGroupBlockInner]{
        padding-bottom:0 !important;
        padding-top:0 !important;
      }

    }   @media only screen and (max-width: 480px){
      tbody[class=mcnImageGroupBlockOuter]{
        padding-bottom:9px !important;
        padding-top:9px !important;
      }

    }   @media only screen and (max-width: 480px){
      table[class=mcnCaptionTopContent],table[class=mcnCaptionBottomContent]{
        width:100% !important;
      }

    }   @media only screen and (max-width: 480px){
      table[class=mcnCaptionLeftTextContentContainer],table[class=mcnCaptionRightTextContentContainer],table[class=mcnCaptionLeftImageContentContainer],table[class=mcnCaptionRightImageContentContainer],table[class=mcnImageCardLeftTextContentContainer],table[class=mcnImageCardRightTextContentContainer]{
        width:100% !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
        padding-right:18px !important;
        padding-left:18px !important;
        padding-bottom:0 !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnImageCardBottomImageContent]{
        padding-bottom:9px !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnImageCardTopImageContent]{
        padding-top:18px !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
        padding-right:18px !important;
        padding-left:18px !important;
        padding-bottom:0 !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnImageCardBottomImageContent]{
        padding-bottom:9px !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnImageCardTopImageContent]{
        padding-top:18px !important;
      }

    }   @media only screen and (max-width: 480px){
      table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent],table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent]{
        padding-top:9px !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent]{
        padding-top:18px !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnBoxedTextContentColumn]{
        padding-left:18px !important;
        padding-right:18px !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=mcnTextContent]{
        padding-right:18px !important;
        padding-left:18px !important;
      }

    }   @media only screen and (max-width: 480px){
      table[class=templateContainer]{
        max-width:600px !important;
        width:100% !important;
      }

    }   @media only screen and (max-width: 480px){
      h1{
        font-size:24px !important;
        line-height:125% !important;
      }

    }   @media only screen and (max-width: 480px){
      h2{
        font-size:20px !important;
        line-height:125% !important;
      }

    }   @media only screen and (max-width: 480px){
      h3{
        font-size:18px !important;
        line-height:125% !important;
      }

    }   @media only screen and (max-width: 480px){
      h4{
        font-size:16px !important;
        line-height:125% !important;
      }

    }   @media only screen and (max-width: 480px){
      table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent],td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p{
        font-size:18px !important;
        line-height:125% !important;
      }

    }   @media only screen and (max-width: 480px){
      table[id=templatePreheader]{
        display:block !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=preheaderContainer] td[class=mcnTextContent],td[class=preheaderContainer] td[class=mcnTextContent] p{
        font-size:14px !important;
        line-height:115% !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=headerContainer] td[class=mcnTextContent],td[class=headerContainer] td[class=mcnTextContent] p{
        font-size:18px !important;
        line-height:125% !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=bodyContainer] td[class=mcnTextContent],td[class=bodyContainer] td[class=mcnTextContent] p{
        font-size:18px !important;
        line-height:125% !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=footerContainer] td[class=mcnTextContent],td[class=footerContainer] td[class=mcnTextContent] p{
        font-size:14px !important;
        line-height:115% !important;
      }

    }   @media only screen and (max-width: 480px){
      td[class=footerContainer] a[class=utilityLink]{
        display:block !important;
      }

    }
  </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); height: 100% !important; width: 100% !important;">
  <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #ffffff;height: 100% !important;width: 100% !important;">
      <tbody>
        <tr>
          <td align="center" valign="top" id="bodyCell" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;border-top: 0;height: 100% !important;width: 100% !important;">
            <!-- BEGIN TEMPLATE // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
              <tbody>
              <tr>
                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <!-- BEGIN HEADER // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;border-top: 0;border-bottom: 0;">
                        <tbody><tr>
                            <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                              <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <tbody><tr>
                                    <td valign="top" class="headerContainer" style="padding-top: 10px;padding-bottom: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody class="mcnDividerBlockOuter">
                                          <tr>
                                            <td class="mcnDividerBlockInner" style="padding: 18px 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                              <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 5px;border-top-style: solid;border-top-color: #6698E4;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody><tr>
                                                    <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                      <span></span>
                                                    </td>
                                                  </tr>
                                              </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody class="mcnCaptionBlockOuter">
                                          <tr>
                                            <td class="mcnCaptionBlockInner" valign="top" style="padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">


                                              <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionLeftContentOuter" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody><tr>
                                                    <td valign="top" class="mcnCaptionLeftContentInner" style="padding: 0 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                      <table align="right" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionLeftImageContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody><tr>
                                                            <td class="mcnCaptionLeftImageContent" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">


                                                              <img alt="" src="http://c4chq.com/assets/dark-logo.png" width="130" style="max-width: 130px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;" class="mcnImage">


                                                            </td>
                                                          </tr>
                                                      </tbody>
                                                      </table>
                                                      <table class="mcnCaptionLeftTextContentContainer" align="left" border="0" cellpadding="0" cellspacing="0" width="264" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody><tr>
                                                            <td valign="top" class="mcnTextContent c4c-user-name" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #333333;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                                                              <br>
                                                              <br>
                                                              <%= "Hi, #{@user.name}" %>
                                                            </td>
                                                          </tr>
                                                      </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                              </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody class="mcnDividerBlockOuter">
                                          <tr>
                                            <td class="mcnDividerBlockInner" style="padding: 0px 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                              <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #C4B9B9;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <tbody><tr>
                                                    <td style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                      <span></span>
                                                    </td>
                                                  </tr>
                                              </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    </td>
                                  </tr>
                              </tbody>
                              </table>
                            </td>
                          </tr>
                      </tbody>
                      </table>
          <!-- // END HEADER -->
        </td>
      </tr>
      <tr>
        <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <!-- BEGIN BODY // -->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;border-top: 0;border-bottom: 0;">
            <tbody>
              <tr>
                <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody>
                      <tr>
                        <td valign="top" class="bodyContainer" style="padding-top: 10px;padding-bottom: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border-bottom:1xp solid #cccccc;">
                          <tbody class="mcnTextBlockOuter">
                            <tr>
                              <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                  <tbody>
                                    <tr>

                                      <td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #020101;font-weight: normal;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Verdana, Geneva, sans-serif;font-size: 15px;line-height: 150%;text-align: left;">

                                        <div style="text-align: center;">
                                          <span style="color:#000000">
                                            <span style="font-family:lucida sans unicode,lucida grande,sans-serif">
                                              <span class="suggestion-count" style="font-size:24px">

                                                <%= "We found you #{@no_of_conversations} conversations to participate in !" %>

                                              </span>
                                            </span>
                                          </span>
                                        </div>

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <% count = 0%>
                        <% @user.feed_entries.each do |feed_entry| %>
                         <%unseen_tweets =feed_entry.unseen_tweets %>
                         <% if unseen_tweets.size > 0 %>
                       
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnBoxedTextBlockOuter">
                              <tr>
                                <td valign="top" class="mcnBoxedTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnBoxedTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <tbody>
                                      <tr>

                                        <td style="padding-left: 0px;padding-bottom: 0px;padding-right: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                          <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                            <tbody>
                                              <tr>
                                                <td valign="top" class="mcnTextContent story-name-small" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #333333;font-family: Verdana, Geneva, sans-serif;font-size: 15px;line-height: 150%;text-align: left;border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;background-color: #EBEBEB;border-bottom: 1px solid#cccccc">
                                                  <a href=<%="c4chq.com/feed_entries/#{feed_entry.id}"%> class="story-name-small" style="text-decoration: none !important; color: #333;">
                                                    <%= feed_entry.title%>
                                                  </a> 
                                                  <a href="#" class="story-count" style="float: right;background-color: #d2d2d2;text-decoration: none;padding: 4px 7px;color: #000;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal;">
                                                    <%= feed_entry.unseen_tweets.size %>
                                                  </a>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                </td>
                              </tr>
                            </tbody>
                          </table>
                        
                        <%end%>
                        <%end%>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- // END BODY -->
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
        <!-- BEGIN FOOTER // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;border-top: 0;border-bottom: 0;">
          <tbody>
            <tr>
              <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody>
                    <tr>
                      <td valign="top" class="footerContainer" style="padding-top: 10px;padding-bottom: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <!-- view all conversations button -->
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody class="mcnButtonBlockOuter">
                          <tr>
                            <td style="padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" valign="top" align="center" class="mcnButtonBlockInner">
                              <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;background-color: #2CA3F0;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <tbody>
                                  <tr>
                                    <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial;font-size: 16px;padding: 15px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                      <a class="mcnButton " title="c4c" href="http://www.c4chq.com" target="_blank" style="font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        View all conversations
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- end view all conversations button -->
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody class="mcnTextBlockOuter">
                          <tr>
                            <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                              <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                <tbody>
                                  <tr>

                                    <td valign="top" class="mcnTextContent" style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #333333;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;">

                                      <em>Copyright © 2014 Idyllic Software, All rights reserved.</em>
                                      <div class="vcard">
                                        <span class="org fn">Idyllic Software</span>
                                        <div class="adr">
                                          <div class="street-address">Pune, Maharashtra, India</div>
                                          <span class="locality">Pune</span>
                                          <span class="postal-code">411007</span>
                                          <div class="country-name">India</div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- // END FOOTER -->
    </td>
  </tr>
</tbody>
</table>
<!-- // END TEMPLATE -->
</td>
</tr>
</tbody>
</table>
</center>

</body>
</html>
