<%= form_for @feed do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:" %>
      </h2>
      <ul>
        <% @feed.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
