<style type="text/css">
table, th, td
{
border: 1px solid black;
padding: 10px;
}
</style>
<div style="margin:20px">
<% if @feeds.length > 1 %>
  <%= "Please activate only one of the following feeds: " %>
  <table border="2">
    <thead>
      <tr>
        <th>Feed</th>
        <th>Status</th>
        <th>Manage</th>
      </tr>
    </thead>  
    <tbody>
      <% @feeds.to_a.each do |feed| %>
        <tr>
          <td><%= feed.title.to_s %></td>
          <td><%= feed.active? ? "Active" : "In active" %></td>
          <td>
            <% if feed.active? %>
              <%= link_to 'Deactivate', feed_deactivate_path(feed) %>
            <% else %>  
              <%= link_to 'Activate', feed_activate_path(feed) %>
            <% end %>
          </td>
        </tr>  
      <% end %>
    </tbody>  
  </table>  
<% end %>
</div>
<% if @feeds.length == 1 %>
  <%= link_to @feeds.first.title.to_s, feed_entries_path %>
<% end %>
