/* Constants */
@context: 10; //Base browser font size

.liquid_layout ( @target, @context ) {
 	@result: ( ( @target / @context ) * 100 );
 	width: 0% + @result;
}

.font ( @fontWeight, @fontStyle, @fontSize, @lineHeight, @fontFamily ) {
  @fontsize: ( @fontSize / @context );
	@fontype: ( 0rem + @fontsize );
	font: @fontWeight @fontStyle ~'@{fontype}/@{lineHeight}' @fontFamily;
  font-size: @fontSize; //IE8 Fallback
}

.sticky_footer ( @wrapSelector, @wrapperSelector, @footerSelector, @footerHeight ) {
	.@{wrapSelector} { min-height: 100%; }
	.@{wrapperSelector} { overflow:auto; padding-bottom: @footerHeight; }
	.@{footerSelector} { position: relative; margin-top: -@footerHeight; height: @footerHeight; clear:both; }
}


//custom

.fw ( @size) {
  font-weight: @size;
}
.ff ( ) {
  font-family: @sans-serif;
}
.fs ( @size) {
  font-size: @size;
}
.talign(@center){
  text-align: @center;
}
.cp(){
  cursor: pointer;
}