.box_sizing () {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.border_radius ( @radiusWidth ) {
	-webkit-border-radius: @radiusWidth;
	-moz-border-radius: @radiusWidth;
	-ms-border-radius: @radiusWidth;
	-o-border-radius: @radiusWidth;
	border-radius: @radiusWidth;
}

.opacity ( @opacityValue ) {
	@result: ( @opacityValue * 100 );
	opacity: @opacityValue; //Modern browsers
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{result})"; //IE8
	filter: alpha( opacity=@result ); /* IE 5-7 */
}

.font_face ( @name, @fontsPath ) {
	@font-face {
		font-family: '@{name}';
		src: url('@{fontsPath}/@{name}/@{name}.eot');
		src: url('@{fontsPath}/@{name}/@{name}.eot?#iefix') format('embedded-opentype'),
		url('@{fontsPath}/@{name}/@{name}.woff') format('woff'),
		url('@{fontsPath}/@{name}/@{name}.ttf')  format('truetype'),
		url('@{fontsPath}/@{name}/@{name}.svg#svgFontName') format('svg');
	}
}



/* CUSTOM MIXINS */


.maxw(@maxw){
	max-width: @maxw;
}
.transition( @transition ) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}
.rotate( @rotation ) {
  transform: rotate(@rotation);
  -o-transform: rotate(@rotation);
  -ms-transform: rotate(@rotation);
  -moz-transform: rotate(@rotation);
  -webkit-transform: rotate(@rotation);
}
.filter( @params ) {
	-webkit-filter: @params;
	-moz-filter: @params;
	-o-filter: @params;
	-ms-filter: @params;
	filter: @params;
}
.scale( @scaleAmount ) {
  -webkit-transform: scale(@scaleAmount);
     -moz-transform: scale(@scaleAmount);
      -ms-transform: scale(@scaleAmount);
       -o-transform: scale(@scaleAmount);
          transform: scale(@scaleAmount);
}
