* { margin: 0; padding: 0; .box_sizing() }
html, body { width: 100%; height: 100%; font-size: 100%; }
img, fieldset { border: none; }
object, embed, audio, video { display: block; max-width: 100%; }
img { max-width: 100%; }
ul, ol {list-style: none;}
.clearfix:after { content: "."; display: block; height: 0; visibility: hidden; clear: both; float: none; font-size: 0; }
a { text-decoration: none; }
input[type="text"], input[type="password"], textarea { outline: none; border: none; }
table { border-collapse: collapse; border-spacing: 0; }