@width: 1280px;
@yellow: #fbce41;
@gray: #f2f2f2;
@disabled-link: #aaa;
@anchor: #4f8df2;
@darkgray: #656565;
@green: #34b67a;
@grayblack: #4d4d4d;
@e6: #e6e6e6;
@c6: #c6c6c6;
@pink: #FF6666;
@maxw: @width;
@b2: #b2b2b2;
@darkyellow: #f5b400;
@6: #666;
@3: #333;
@f2: #f2f2f2;
@blue: #7EACF6;
@red: #E68A8A;
@white: #fff;
@black: #333;
@medium-gray: #666;
@light-gray: #eee;

// Fonts
@sans-serif: 'Droid Sans', sans-serif;
