<div class="about-us-top span12">
  <div class="top-dash"></div>
  <h1>Our Story</h1>
  <span class="span6">
     <!-- <h3 class="head-text">Our Story</h3> -->

   <!--  <strong>Jinesh Parekh</strong> <br>
   <span class="disabled-link">Co-founder, Operations &amp; Engineering</span> -->
  <p class="">
     We started our journey on the belief that every single piece of authentic content, deserves attention from those who it was written for. You are not Seth Godin, but that does not mean your voice should not be heard. We want your content to reach out to people who are talking around it right now. 
  </p>   
  <br/>
  <p>
    We’re here to help people who write genuine content. Before we define what we mean by genuine content, let us describe what genuine content is not.
  </p>
  <br/>
  <p>Your content is not genuine if:
    <ol style="list-style-type:decimal;margin-left:20px;margin-top:10px">
      <li>The sole purpose of your content is to get high traffic on your website.</li>
      <li>The content is stuffed with keywords for SEO purposes</li>
      <li>The sole purpose of your content is to get high traffic on your website.</li>
    </ol>  
  </p>
  <br/>
  <p>
    We define genuine content as the one that was written for truly helping your audience on what they are looking for. This is the true essence of Inbound Marketing.
  </p>
  <br/>
  <h3>How did it started?</h3>
  <p>
    As part of Inbound marketing for our company Idyllic Software, we produced truly authentic content. However we quickly realized that our content was not reaching those whom it was written for. Hence we wished goodbye to our Inbound Marketing tool with this <a href="http://blog.idyllic-software.com/why-did-i-quit-on-hubspot/">final word</a> and embarked on the journey to build C4C.


  </p>
  </span>
</div>

<!-- <address class="pull-right">
  <strong>Idyllic Software</strong>
  <p>212 Clara st.</p>
  <p>San Fransisco, CA 912121</p>
  <a href="mailto:feedback@c4chq.com">Contact Us</a>
</address>

<div class="about-us-desc">

  <h3 class="head-text">Our Story</h3>

  <p class="">
     We started our journey on the belief that every single piece of authentic content, deserves attention from those who it was written for. You are not Seth Godin, but that does not mean your voice should not be heard. We want your content to reach out to people who are talking around it right now. 
  </p>   
  <p>
    We’re here to help people who write genuine content. Before we define what we mean by genuine content, let us describe what genuine content is not.
  </p>
  <p>Your content is not genuine if:
    <ol style="list-style-type:decimal;margin-left:20px;margin-top:-25px">
      <li>The sole purpose of your content is to get high traffic on your website.</li>
      <li>The content is stuffed with keywords for SEO purposes</li>
      <li>The sole purpose of your content is to get high traffic on your website.</li>
    </ol>  
  </p>
  <p>
    We define genuine content as the one that was written for truly helping your audience on what they are looking for. This is the true essence of Inbound Marketing.
  </p>
  <h3>How did it started?</h3>
  <p>
    As part of Inbound marketing for our company Idyllic Software, we produced truly authentic content. However we quickly realized that our content was not reaching those whom it was written for. Hence we wished goodbye to our Inbound Marketing tool with this <a href="http://blog.idyllic-software.com/why-did-i-quit-on-hubspot/">final word</a> and embarked on the journey to build C4C.


  </p>

  <h3>Team Behind C4C</h3>
  <ul>
    <li>Jinesh Parekh, CEO</li>
    <li>Amar Daxini, Engineering</li>
    <li>Sachin Gavas, User Experience</li>
    <li>Abhijit Rao, User Experience</li>
    <li>Vinod Sobale, Front End Developer</li>
  </ul>


</div> -->