<!DOCTYPE html>
<html lang="en">
<head>
  <title>C4C</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="//use.typekit.net/suy0tdp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag :application, media: "all"%>
  <%= javascript_include_tag "application" %>
</head>
<body class='lp'>
  <div id="wrap">
    <section class='first-fold row'>
      <a href="/">
        <img src="/assets/dark-logo.png" alt="C4C Logo" />
      </a>
      <div class='blank-space-xlarge'></div>
      <h1>
        Yes, we think your content has only one mission,<br />
        <strong>Create Conversations!</strong>
      </h1>
      <div class='blank-space'></div>
      <p class="try-it">
        <a href="#mid-section">See how it works</a>, or try it once.
        <img src="/assets/arrow-down.png" alt="arrow down" />
      </p>
      <div class='blank-space'></div>
      <div class='row'>
        <div class='span8'>
          <div class='row'>
            <div class='row'>
              <div class='pull-left'>
                <strong>Import your blog</strong>
              </div>
              <div id='step-indicator' class='text-right'>
                Step 1 of 2
              </div>
            </div>
            <div class='import-blog-form row' data-step='1'>
              <%= form_tag signup_import_path do %>
                <%= text_field_tag :url , '', placeholder: 'http://yourblog.com/feed', id: 'top-url-input', class: 'user-input-feed-url span8', tabindex:'1' %>
                <input id='try-it-btn' type='button' value='try it' tabindex:'2' />
                <div id='feed-validating'><div></div></div>

                <button class="fontawesome-twitter btn btn-success" id="button-top-twitter-signup" name="submit" type="submit">
                  <span>Sign up</span>
                </button>
              <% end %>
            </div>
            <p>Tell us what you write about, and we'll help you find conversations around it.</p>
          </div>
        </div>
        <div class='span4 login text-center'>
          Already Using C4C?
          <%= link_to 'Log in', twitter_auth_path, class: 'btn btn-large btn-primary', tabindex: '3' %>
        </div>
      </div>
    </section>

    <div id="mid-out" class="row">
      <div id="mid-section">
        <h2>How it works?</h2>
        <div class="row demo-icon">
          <div class='span4'>
            <div class="information"></div>
            <p class="clearfix">You have brillion piece of information to share.</p>
          </div>
          <div class='span4'>
            <div class="thumbs-down"></div>
            <p class="clearfix">Since nobody knows it, no one comes to it.</p>
          </div>
          <div class='span4'>
            <div class="conversation"></div>
            <p class="clearfix">We'll take your content where people are talking about it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="foot-contents">
    <img src="/assets/dark-logo.png" alt="C4C logo" class='logo' />
    <div class="foot-right">
      <div class="foot-rights">Copyrights © 2013 - C4C. All Rights Reserved</div>
      <div class="foot-text small-txt">
        <a href="/about_us">About.</a>
        <a href="/privacy-policy">Privacy.</a>
        <a href="/toc">Terms.</a>
      </div>
    </div>
  </footer>
  <script>
    jQuery( function( $ ) {
      VerifyFeed.init();

      // $( window ).scroll( function( eventData ) {
      //   console.log( $( 'body' ).scrollTop());
      // });
    });
  </script>
</body>
