<!DOCTYPE html>
<html lang="en">
<head>
  <title>C4C</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
  <link rel="stylesheet" href="/assets/lib/onepage-scroll.css">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :application, media: "all"%>
  <%= javascript_include_tag "application" %>
</head>
<body class='l-p'>
  <header>
    <a href="/"><img class="logo" src="/assets/dark-logo.png" alt="C4C Logo" /></a>
  </header>

  <section id="scroll-container">
    <article>
      <div class="slide first-fold">
        <div class="slide-inner">
          <h1>
            Yes, we think your content has only one mission,<br />
            <strong>Create Conversations!</strong>
          </h1>
          <p><a href="#">See how it works</a>, or try it once.</p>
        </div>
      </div>
    </article>

    <article>
      <div class="slide">
        <div class="slide-inner">
          <h2>Write.</h2>
          <p>You have a brilliant piece of information to share. Since nobody knows it, no one comes to it.</p>
          <a class="btn btn-primary next-slide" href="#">Next <i class="fontawesome-angle-down"></i></a>
        </div>
      </div>
    </article>

    <article>
      <div class="slide">
        <div class="slide-inner listen">
          <h2>Listen.</h2>
          <p>C4C fetches conversations relevant only to your blog content.</p>
          <a class="btn btn-primary next-slide" href="#">Next <i class="fontawesome-angle-down"></i></a>
        </div>
      </div>
    </article>

    <article>
      <div class="slide">
        <div class="slide-inner">
          <h2>Talk.</h2>
          <p>You participate in conversations happening around your content.</p>
          <a class="btn btn-primary next-slide" href="#">Next <i class="fontawesome-angle-down"></i></a>
        </div>
      </div>
    </article>

    <article>
      <div class="slide sign-up">
        <div class="slide-inner">
          <h2>Be Awesome.</h2>
          <p>Get on the list today.</p>
          <a href="#" class="btn btn-xlarge btn-warning">Sign Up with <i class="fontawesome-twitter"></i></a>
        </div>
      </div>
      <footer>
        <p class="pull-left">&copy; 2014. C4C by <a href="http://www.idyllic-software.com/" target="_blank">Idyllic Software</a>.</p>
        <ul class="pull-right">
          <li>
            <a href="#">About</a>
            <a href="#">Help/FAQ</a>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Contact</a>
            <a href="https://twitter.com/c4chq" target="_blank"><i class="fontawesome-twitter"></i></a>
          </li>
        </ul>
      </footer>
    </article>
  </section>

  <aside class="lp-screenshots"></aside>

  <script>
    jQuery( function( $ ) {
      $("#scroll-container").onepage_scroll({
        sectionContainer: "#scroll-container > article",
        loop: true,
        responsiveFallback: 600,
        afterMove: function( index ) {
          if ( $( 'body' ).width() < 1000 ) {  // Don't show this for narrow screens.
            return;
          }
          var currentSlideIndex = $( 'article.active' ).data( 'index' );
          switch ( currentSlideIndex ) {
            case 1:
              $( '.lp-screenshots' ).fadeOut().removeClass( 'scale1x');
              break;
            case 2:
              $( '.lp-screenshots' ).fadeIn().addClass( 'scale1x' );
              break;
            case 3:
              $( '.lp-screenshots' ).fadeIn().addClass( 'scale1x' );
              break;
            case 4:
              $( '.lp-screenshots' ).fadeIn().addClass( 'scale1x' );
              break;
            case 5:
              $( '.lp-screenshots' ).fadeOut().removeClass( 'scale1x');
              break;
            default:
              console.log( 'something went unexpected.' );
          }
        }
      });
      $( '.next-slide' ).click( function( event ) {
        event.preventDefault();
        $( '#scroll-container' ).moveDown();
      });
      VerifyFeed.init();
    });
  </script>
</body>
</html>
