<head>
  <%= stylesheet_link_tag :application, media: "all"%>
  <%= javascript_include_tag "application" %>
  <title>C4C</title>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div class="up-sec">
    <div id="up-section">
      <div id="logo-signin">
        <div class="logo-container logo-center">
        <a href="/">
            <img src="/assets/dark-logo.png" alt="" width="105px" height="55px" border="0" />
        </a>
        </div>
        <div id="rightsec">
          <%= form_tag signup_import_path do %>
            <div class="enter-blog-url">
              <%= text_field_tag :url , '', placeholder: 'http://yourblog.com/feed', id: 'top-url-input', class: 'user-input-feed-url' %>
              <button class="fontawesome-twitter" id="button-top-twitter-signup" name="submit" type="submit">
                <span>
                  <%= 'Sign Up with Twitter' %>
                </span>
              </button>
            </div>
          <% end %>
        </div>
      </div>
      <h2>
        Your content has only one mission
        <div>Create Conversations!</div>
      </h2>
      <div class="try-it"></div>
      <%= form_tag signup_import_path do %>
      <div class="import-note">Import your blog</div>
        <%= text_field_tag :url, '', placeholder: 'http://yourblog.com/feed', class: 'user-input-feed-url main', tabindex: '1' %>
        <div class="import-feed">
          <button class="fontawesome-twitter" id="button-main-twitter-signup" name="submit" type="submit" value="'Sign up using Twitter'">
            Sign up using Twitter
          </button>
          <div class="registered-user">
            <span>
              <%= 'Already have an account ?' %>
            </span>
            <%= link_to 'Log in with Twitter', twitter_auth_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="mid-out">
    <div id="mid-section">
      <h1>How it works ?</h1>
      <div class="demo-icon">
        <div>
          <div class="information"></div>
          <p class="clearfix">You have brillion piece of information to share.</p>
        </div>
        <div>
          <div class="thumbs-down"></div>
          <p class="clearfix">Since nobody knows it, no one comes to it.</p>
        </div>
        <div>
          <div class="conversation"></div>
          <p class="clearfix">
  "We'll take your content where people are talking about it."
</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="foot-contents">
  <img src="/assets/dark-logo.png" alt="C4C logo" />
  <div class="foot-right">
  <div class="foot-rights">Copyrights © 2013 - C4C. All Rights Reserved</div>
    <div class="foot-text">
      <a href="#">About.</a>
      <a href="#">Privacy.</a>
      <a href="#">Terms.</a>
    </div>
  </div>
</div>
  <script>
    VerifyFeed.init();
  </script>
</body>
