<div class="privacy-policy-page">
    <h2>C4C Privacy Policies</h2>
    <span>1. ACCEPTANCE OF TERMS</span>
    <p>1.1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, magni, sequi aperiam voluptatibus labore rem facere sunt quae? Voluptatibus, porro, recusandae blanditiis praesentium aspernatur facere modi consequatur rerum aperiam tempora.</p>
    <p>1.2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, magni, sequi aperiam voluptatibus labore rem facere sunt quae? Voluptatibus, porro, recusandae blanditiis praesentium aspernatur facere modi consequatur rerum aperiam tempora.</p>
    <span>2.ENVOY SERVICES</span>
    <p>2.1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, magni, sequi aperiam voluptatibus labore rem facere sunt quae? Voluptatibus, porro, recusandae blanditiis praesentium aspernatur facere modi consequatur rerum aperiam tempora.</p>
    <h4>Contact Information</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, magni, sequi aperiam voluptatibus labore rem facere sunt quae? Voluptatibus, porro, recusandae blanditiis praesentium aspernatur facere modi consequatur rerum aperiam tempora.</p>
    <address>
        <strong>Idyllic Software</strong>
        <span>212 Clara st.</span>
        <span>San Fransisco, CA 912121</span>
        <a href="mailto:feedback@c4chq.com">Contact Us</a>
    </address>
</div>