// IMPORTS
@import "zunkaless/_functions.less";
@import "zunkaless/_mixins.less";
@import "zunkaless/variables.less";

.feed-title {
  float: left;
  width: 71%;
  .new-posts-status {
    clear: left;
  }
  img {
    float: left;
    height: 35px;
  }
  .fetch-new-posts {
    color: #999;
    float: left;
    margin-left: 20px;
    outline: none;
  }
  .new-posts-loading {
    display: none;
    clear: left;
    margin-top: 10px;
    height: 10px;
    margin-left: 44px;
  }
}
.blog-name {
  float: left;
  color: #000;
  font-weight: 300;
}
.rotate-continuous {
  animation: rotatecontinuous 1s linear infinite;
  -webkit-animation: rotatecontinuous 1s linear infinite;
}

.rotate360 {
  from {
    .rotate( 0deg );
  }
  to {
    .rotate( 360deg );
  }
}

@keyframes rotatecontinuous { .rotate360 }
@-moz-keyframes rotatecontinuous { .rotate360 }
@-webkit-keyframes rotatecontinuous { .rotate360 }
@-o-keyframes rotatecontinuous { .rotate360 }

@media (max-width: 800px) {
  #timeline-section-with-search {
    .feed-title, .search-side {
      float: none;
      width: auto;
      margin: 10px 0;
      .search-field, .filters { }
    }
  }
}
