// IMPORTS
@import "zunkaless/_mixins.less";
@import "zunkaless/variables.less";
@import "zunkaless/_functions.less";

body.lp {
  padding: 0;
  h1 {
    font-size: 2rem;
    line-height: 3rem;
    strong { color: @pink; }
  }
}

.first-fold {
  padding: 3% 3% 7% 3%;
  position: relative;
  .login {
    margin-top: 30px;
    .btn {
      color: @black;
      border: solid 2px @black;
      text-shadow: none;
      margin: 0 10px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url( '/assets/bg-landing.png' );
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.08;
    width: 100%;
    height: 100%;
    z-index: -1;
    .filter( grayscale( 1 ) blur( 1px ));
  }
}

.import-blog-form {
  position: relative;
  height: 50px;
  overflow: hidden;
  .transition( all 0.2s linear );
  &:hover {}
  input {
    border: solid 3px @black;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    border-radius: 4px;
  }
  input[type='text'] {
    padding: 0 10px;
    // border-radius: 0;
  }
  input[type='button'] {
    display: inline-block;
    padding: 0px 10px;
    margin-left: 10px;
    font-family: @sans-serif;
    font-size: 1.2rem;
    background-color: @yellow;
    cursor: pointer;
    // border-radius: 0;
    .transition( all 0.3s ease-in );
    &:hover { background-color: darken( @yellow, 15% ); }
  }
  #top-url-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    padding: 0 10px;
  }
  #top-url-input + input[type='button'] { position: absolute; top: 0; right: 0; width: 28%; height: 100%; z-index: 1; }
  #button-top-twitter-signup {
    display: none; position: absolute; top: 0; right: 0; width: 28%; min-width: 130px; height: 100%; border-radius: 0;
    border: solid 3px @black;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    border-radius: 4px;
  }
  #feed-validating {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28%;
    z-index: 2;
    height: 100%;
    background: transparent;
    .transition( all 0.5s ease-in );
    > div {
      height: 0;
      background: rgba(17, 129, 80, 0.8);
    }
  }
}

#mid-out { background-color: @pink; }
#mid-section {
  text-align: center;
  max-width: @maxw;
  margin: auto;
  padding: 20px;
  color: @white;
  h2 {
    font-weight: normal;
  }
  .demo-icon {
    overflow: auto;
    > div {
      position: relative;
      padding: 2%;
      :not(.conversation):after {
        content: '- - - - - - - - - - - - - - - - - ';
        float: right;
        position: absolute;
        color: #fff;
        opacity: .5;
        right: -40px;
        top: 115px;
        font-size: .5rem;
      }
    }
  }
  .information,
  .thumbs-down,
  .conversation {
    height: 150px;
    margin: 30px auto;
  }

  .information {
    background: url('/assets/Information.png') -35px -12px no-repeat;
    width: 80px;
  }
  .thumbs-down {
    background: url('/assets//NoLove.png') -28px -5px no-repeat;
    width: 100px;
  }
  .conversation {
    background: url('/assets/Conversation.png') -13px -10px no-repeat;
    width: 120px;
  }
  span {
    color: #FFF3F1;
    font-size: 1.5rem;
  }
}

p.try-it {
  position: relative;
  margin-bottom: 30px;
  display: inline-block;
  img {
    position: absolute;
    top: -20px;
    right: -20px;
  }
}

footer {
  .logo {
    height: 50px;
  }
}

.l-p { // Latest landing page.
  background-color: @white;
  .logo { height: 50px; }
  .slide {
    display: table;
    width: 100%;
    height: 100%;
  }
  .slide-inner {
    padding: 0 2%;
    display: table-cell;
    vertical-align: middle;
  }
  .first-fold {
    border-bottom: solid 10px rgba(0,0,0,0.4);
  }
  .listen {
    background-color: @light-gray;
  }
  .sign-up {
    background-color: @blue;
    color: @white;
    text-align: center;
    .slide-inner {
      position: relative;
    }
    h2,
    p {
      margin-bottom: 15px;
    }
  }
  footer {
    background-color: @white;
    color: @medium-gray;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2%;
    font-size: 0.9rem;
    li a {
      padding: 5px;
      color: @medium-gray;
      &:hover {
        background-color: @medium-gray;
        color: @white;
      }
    }
    li a:last-child {
      background-color: @black;
      color: @blue;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    }
  }
  @media ( max-width: 600px ) {
    footer {
      text-align: center;
      p, ul { float: none; }
    }
    #timeline-section-with-search input {
      width: 90%;
      float: none;
      margin: auto;
    }
  }
}
.lp-screenshots {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 450px;
  height: 263px;
  background-image: url( '/assets/macbook.png' );
  background-repeat: no-repeat;
  z-index: 99;
  display: none;
  .scale( 0.8 );
  .transition( all 0.3s ease );
}
.scale1x {
  .scale( 1 );
}
