// IMPORTS
@import "zunkaless/_reset.less";
@import "zunkaless/_functions.less";
@import "zunkaless/_mixins.less";
@import "zunkaless/variables.less";
/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);*/

/* Reset HTML5 Search Input in Webkit */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}
/* font-awesome icons */
[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
}
i {
  font-style: normal;
}
input[type="button"],
input[type="submit"] {
  border: none;
}
/* overriding defaulf search-box in webkit */

input[type=search] {
  -webkit-box-sizing:content-box;
  -webkit-appearance:textfield;
}

// loading spinner
.loading {
  display: block;
  width: 20px; height: 15px;
  background: url('/assets/loader.gif') 0 0 no-repeat;
  -webkit-background-size: 15px;
  -o-background-size: 15px;
  background-size: 15px;
  vertical-align: middle;
}

#wrap-out {
  margin-bottom: -60px;
  min-height: 100%;
  width: 100%;
  &:after {
    display: block;
    content: '';
  }
}

#foot-contents,
#wrap-out:after {
  height: 60px;
}

/* links */
a {
  color: @anchor;
}
a.disabled-link {
  color: @disabled-link;
}
/* end links */

.header-outer {
  background-color: @yellow;
}
.tags-search-outer {
  background-color: #FFF;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  margin: auto;
  padding: 0 2%;
  width: 100%;
  height: 50px;
  background-color: @yellow;
}
#logo {
  float: left;
  width: 85px;
}
.site-logo {
  margin-top: 2px;
  margin-left: -4px;
  height: 50px;
}
.user-info {
  position: relative;
  z-index: 99;
  float: right;
  margin-right: -30px;
  width: 200px;
  width: auto;
  height: 50px;
  color: @3;
  cursor: pointer;
  > a {
    display: block;
    padding: 13px 30px;
    color: #444;
    font-size: 0.875rem;
    cursor: pointer;
  }
}
// dropdown in header
.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  width: 226px;
  background-color: @yellow;
  > form {
    display: block;
    padding: 0 20px;
    color: #555;
    font-size: 0.875rem;
    line-height: 18px;
  }
  > a {
    display: block;
    padding: 16px 19px;
    color: #555;
    text-align: center;
    font-size: 0.875rem;
    line-height: 18px;
    &:before {
      position: relative;
      top: 3px;
      margin-right: 20px;
      color: #555;
      font-size: 1.3rem;
    }
  }
  &.expanded {
    display: block;
    > a {
      &:hover {
        background-color: lighten(@yellow, 10%);
      }
    }
  }
}
/* ------- */

#header-below {
  background: @gray;
  .active {
    border-bottom: none;
    background: #FFF;
  }
}
.follow-section {
  padding: 10px;
  max-height: 83px;
  height: 83px;
  border-right: 1px solid @e6;
  border-bottom: 1px solid #D9D9D9;
  border-left: 1px solid @e6;
  &.active {
    border-bottom: none;
    border-left: 1px solid @e6;
  }
  a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 1rem;
    line-height: 1.2;
  }
}
.feed-section {
  padding: 10px;
  min-height: 83px;
  border-bottom: 1px solid #D9D9D9;
  > a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 1rem;
    line-height: 1.2;
  }
  &.active a {
    color: @3;
  }
}
.heder-next-left {
  padding: 10px 30px 0 30px;
  border-bottom: 1px solid #D9D9D9;
  + .separator-dash {
    display: none;
    margin: 10px 0;
  }
}
.link-description {
  color: #999;
  font-size: .7rem;
  font-size: 11px;
  line-height: 1rem;
}

.post-stats {
  clear: left;
  color: #999;
  > div {
    float: left;
    margin-right: 4px;
    text-align: right;
    font-wieght:400;
  }
}

#timeline-section {
  position: relative;
  padding: 30px 0;
  background-color: #fff;
  text-align: center;
  .search {
    padding: 10px;
  }
  .separator {
    padding: 5px;
  }
}
#timeline-section-with-search {
  position: relative;
  margin: 20px 2.34%;
  .feed-title {
    width: 62%;
  }
  .search {
    padding: 10px;
  }
  .separator {
    padding: 2px;
  }
  .search-side {
    float: right;
    margin-bottom: 20px;
    width: 38%;
    .loading {
      float: left;
      height: 38px;
      background-position: 0 10px;
    }
  }
  input {
    float: right;
    padding: 10px;
    width: 160px;
    border: 1px solid #b2b2b2;
    font-size: .8rem;
    line-height: 1; // for firefox doesn't allow input line-height
  }
}
/* sort menu on feed-entries page */
#sort-selector {
  padding: 5px 10px;
  border: 2px solid @b2;
  color: inherit;
  font-size: 1rem;
  font-size: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/*----- POSTS'/ TWEET ENTIRE SECTION - POST AREA ------*/

#content-area {
  margin: 2.34375%;
  ~ .zero-keywords {
    display: none;
  }
}
#content-area:empty {
  ~ .load-more {
    display: none;
  }
  ~ .zero-keywords {
    display: block;
    padding: 20px 30px;
  }
}
//
.post-area {
  position: relative;
  float: left;
  margin: .8%;
  padding: 0;
  width: 48.1%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: .9rem;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  .post-tweets {
    clear: both;
    margin: 10px 20px;
    font-family: 'proxima-nova', 'sans-serif';
 }
}
.post-section {
  margin: 10px 20px;
  .fontawesome-reply {
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: right;
    margin: 5px 0 0 0;
    padding: 4px;
    border: 1px solid rgba(0,0,0,.3);
    background: #81C000;
    color: #fff;
    &:before{
      padding: 5px;
      color: #fff;
    }
  }
  > span:first-child {
    .fw(100);
    color: @b2;
  }
  .post-text {
    padding-bottom: 10px;
    color: #444;
    font-family: 'proxima-nova', 'sans-serif';
  }
  img {
    margin: 10px 0;
  }
}
.post-tags {
  margin: 10px 20px 0 20px;
  color: #666;
  text-align: right;
  > span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 10px;
    padding: 3px 4px;
    border: 1px solid pink;
    color: #777;
  }
  > span.new-tweet {
  border: none;
  background-color: yellow;
  color: orangered;
  padding: 0 10px;
  }
}
.post-area-heading {
    border-bottom: 1px solid @e6;
    text-align: center;
    // font-size: .9rem;
    .fontawesome-map-marker {
      float: left;
      overflow: hidden;
      padding: 10px 0;
      width: 33%;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      color: #888;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:before {
        padding: 5px;
        color: #888;
      }
    }
    &.unfollow-heading {
      color: @anchor;
      .icon-area {
        float: right;
        width: 10%;
        > a {
          padding: 9px;
          // vertical-align: top;
          font-size: 1.7rem;
          &::before {
            padding: 0 5px 4px 6px;
          }
        }
      }
      .fontawesome-unfollow {
        float: left;
      }
    }
    .fontawesome-unfollow {
      display: inline-block;
      *display: inline;
      zoom: 1;
      float: left;
      padding: 10px 0;
      padding-left: 15px;
      width: 33%;
      // background: url('/assets/unfollow.png') 0px -2px no-repeat;
      background-size: 38px;
      color: @anchor;
      vertical-align: top;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
    }
    .fontawesome-follow {
      display: inline-block;
      *display: inline;
      zoom: 1;
      float: left;
      overflow: hidden;
      padding: 10px 0;
      width: 33%;
      background-size: 50px;
      color: @anchor;
      text-align: center;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      &:before {
        color: #999;
      }
    }
  }
.relevance {
  display: inline-block;
  *display: inline;
  zoom: 1;
  float: right;
  padding: 10px 0;
  width: 33%;
  color: @anchor;
  cursor: pointer;
}
.single-tweet {
  padding: 15px 0;
  border-top: 1px solid #eee;
  &:after {
   display:block;
   visibility:hidden;
   overflow:hidden;
   width:0;
   height:0;
   content:'\0020';
 }
 .fontawesome-reply {
  float: right;
  color: #667600;
  &:before {
    padding: 5px;
    color: #667600;
  }
}
> .by-user-time {
  color: #999;
}
}
.tweet-content {
  padding: 7px 0;
}

/*#load-more { white-space: nowrap; }*/

// FOOTER
#foot-contents {
  clear: both;
  padding: 10px 2.34% 0;
  height: 60px;
  border-top: 1px solid @e6;
  img {
    float: left;
    height: 50px;
    opacity: .2;
  }
  .foot-logo {
    float: left;
    width: 90px;
    height: 50px;
    background: url('/assets/dark-logo.png') -4px 0 no-repeat;
    background-size: 75px;
    opacity: .2;
  }
  .foot-text {
    margin: auto;
    padding: 10px;
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    a {
      margin-right: 5px;
      color: @medium-gray;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  .foot-rights {
    float: right;
    padding: 10px 0;
    color: @medium-gray;
  }
}


// FONT AWESOME
.hashtag {
  padding: 0 5px;
}
.hashtag:before {
  content: '#';
}
.by-user:before {
  content: "@";
}
a[class^="fontawesome-chevron"] {
  float: right;
}
/*[class*="fontawesome-"]:before { padding: 5px; }*/

input:focus {
  outline-width: 0px;
}
.clearfix:before,
.clearfix:after {
  display:block;
  visibility:hidden;
  overflow:hidden;
  width:0;
  height:0;
  content:'\0020';
}
.search:focus i:before {
  background: #FFF;
  content:'' ;
}
.fontawesome-search:before {
  color: #fff;
}
/*input.search:focus::placeholder{
color: transparent;
}*/

[placeholder]:focus::-webkit-input-placeholder {
  .ff();
  text-indent: -200%;
  opacity: 1;
  -webkit-transition: text-indent 0.2s 0s ease;
  -moz-transition: text-indent 0.2s 0s ease;
  transition: text-indent 0.2s 0s ease;
}


/* STYLES FOR FEEDS PAGE */
.tags-search-outer {
  background-color: #FFF;
}
#tags-search {
  margin: auto;
  padding: 20px 30px;
  padding: 20px 30px;
  border-top: none;
  background: #fff;
  .input-section {
    padding: 10px 0;
    height: auto;
    ::-webkit-input-placeholder {
      line-height: 1.2rem;
    }
    .input-tags {
      .fw(300);
      float: left;
      // height: 45px;
      padding: 9px 0 8px 10px;
      width: 87.02791461%;
      border: 1px solid @e6;
      font-size: .9rem;
      + .search-keyword {
        float: right;
        width: 10.01642036%;
        cursor: pointer;
      }
    }
    .time {
      padding: 18px;
    }
    .location,
    .time {
      width: 18%;
    }
    button {
      .fs(.8rem);
      /*margin-left: 15px;*/
      margin-left: 0.8210180624%;
      padding: 10px;
      height: 45px;
      border: 1px solid @anchor;
      background: lighten(@anchor, 10%);
      color: #fff;
      font-weight: normal;
    }
  }
  .tags {
    margin-top: 10px;
    i {
      &.loading {
       .loading;
       display: inline-block;
      *display: inline;
      zoom: 1;
      }
      &:before {
        // font-size: .8rem;
      }
    }
    i[class*="fontawesome-"]:before,
    i[class^="fontawesome-"]:before {
      color: #999;
      cursor: pointer;
    }
    a {
      display: inline-block;
      *display: inline;
      zoom: 1;
      margin-left: 5px;
      color: #444;
    }
    ul {
      display: inline-block;
      *display: inline;
      zoom: 1;
    }
    .add-keyword {
      .fw(bold);
      padding: 8px 10px;
      width: 150px;
      border: 1px solid darken(#75a8fb, 20%);
      background: #75a8fb;
      color: #fff;
      text-transform: uppercase;
      font-size: .9em;
      &:before {
       color: #fff;
      }
      &::-webkit-input-placeholder {
        .ff();
        padding-left: 20px;
        color: #fff;
        text-transform: capitalize;
      }
      &:focus {
        display: inline;
        background: transparent;
        color: #000;
        &:before { content: "\f00d"; }
      }
    }
  }

  .search-section {
    padding: 20px;
    text-align: center;
    input {
      padding: 15px 18px 15px 25px;
      border: none;
      background: transparent;
      color: @anchor;
      &::-webkit-input-placeholder {
        /*font-size: @baseFontSize* .8;*/
        .ff();
        padding-left: 20px;
        color: @anchor;
        text-transform: capitalize;
      }
    }

    .search {
      padding: 10px 15px 10px 5px;
      width: 200px;
      background-color: @green;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      + .fontawesome-search {
        position: relative;
        left: -200px;
        color: #fff;
      }
      &:before {
        color: #fff;
      }
    }
  }
}
.post-area {
  .fontawesome-map-marker + a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    /*width: 28%;*/
    width: 45%;
    vertical-align: top;
  }
  #activity {
    color: #999;
    margin: 10px 20px;
    .fontawesome-map-marker:before {
      padding: 5px;
      color: #999;
    }
  }
}

.search-terms {
  color: #444;
  .search-terms-note {
    clear: left;
    color: #ccc;
  }
}

// /* LANDING PAGE STYLES */

.up-sec { background-color: @gray; }

#up-section {
  overflow: auto;
  margin: auto;
  max-width: @maxw;
  > form {
    margin: 20px 0 50px 0;
  }
  #logo-signin {
    position: fixed;
    z-index: 99;
    display: block;
    margin: auto;
    width: 100%;
    height: 95px;
    background: @gray;
    > .logo-container {
      position: relative;
      float: none;
      max-width: 110px;
      height: 60px;
      -webkit-transition: margin .5s ease;
      transition: margin .5s ease;
    }
    .black-logo {
      float: left;
      margin-top: 10px;
      width: 105px;
      height: 50px;
      background: url('/assets/dark-logo.png') 0 0 no-repeat;
      -webkit-background-size: 110px;
      -o-background-size: 110px;
      background-size: 110px;
    }
  }

  .try-it {
    margin: auto;
    width: 150px;
    height: 85px;
    background: url('/assets/TryFree.png') 0 -36px no-repeat;
  }
  h2 {
    margin-top: 130px;
    padding: 30px;
    text-align: center;
    font-weight: normal;
    > div {
      color: #FF6769;
    }
  }
  .import-note {
    margin: 20px auto;
    // width: 30%;
    text-align: center; }
  input {
    display: block;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    font-size: .9rem;
    &.main { min-width: 300px; }
    + .import-feed {
      // width: 28.90625%;
      margin: 25px auto;
      text-align: center;
      button {
        border: 1px solid darken(@yellow, 10%);
        // width: 100%;
        // width: 370px;
        // width: 29%;
        background: @yellow;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}

.import-feed {
  white-space: nowrap;
  > .registered-user {
    z-index: 100;
    padding: 15px 5px;
    color: #777;
    font-weight: 300;
    font-size: 0.9rem;
    > a {
     margin-left: 5px;
     padding: 7px;
     border: 1px solid #ddd;
     background-color: #fff;
    }
  }
  button{
    &:before {
      margin-right: 10px;
    }
  }
}

input.fontawesome-plus-sign:before {
  color: #fff;
  content: "\f055";
}

/* other common styles */

#blog-list {
  margin: 0 2.34%;
  #left-side, #right-side {
    width: 49%;
    .new-fetched {
      background-color: #FFE;
    }
  }
  #right-side {
    float: right;
  }
  #left-side {
    float: left;
  }
}
.blog-single {
  overflow: auto;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  &:hover {
    background: #ffe;
    box-shadow: inset 5px 0px @anchor;
  }
  .meta-count{
    margin-bottom: 10px;
    // color: #777;
    color: #999;
    font-size: .9rem;
    .stats-list {
      ul {
        width: 70%;
      }
      li {
        display: inline-block;
        *display: inline;
        zoom: 1;
        padding: 0 5px;
        &:first-child {
          padding-left: 0;
        }
        &:before {
          padding: 0 5px;
          color: #999;
        }
        &.fontawesome-male:before {
          content: "\f183";
        }
        &.fontawesome-clock:before {
          content: "\f017";
        }
        &.fontawesome-male:before {
          content: "\f007";
        }
        &.fontawesome-eye:before {
          content: "\f06e";
        }
       }
    }
  }
  > a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 10px;
    width: 70%;
  }
  i.fontawesome-star,
  i.fontawesome-star-empty {
    opacity: 0.8;
  }
}
.blog-post-heading > a,
.important-toggle > a {
  color: @medium-gray;
}
.blog-list-meta {
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  font-size: .9rem;
}
.blog-list-details {
  float: right;
  clear: right;
  width: 85%;
}
.follow-count {
  padding: 15px 10px;
  width: 55px;
  height: 55px;
  background: @yellow;
  text-align: center;
  font-size: 20px;
  font-size: 20px;
  + .following-text {
    margin-top: -22px;
    color: #ffffff;
    font-size: .7rem;
    font-size: 11px;
  }
}
.load-more {
  position: relative;
  bottom: 0;
  clear: both;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  &.loading {
    .loading;
    height: 15px;
  }
}
#timeline-section.search input {
  /*float: right;*/
  position: absolute;
  right: 0;
  padding: 5px 10px;
  width: 200px;
  &::-webkit-input-placeholder {
    .fw(100);
    font-size: .8rem;
  }
}

/* common elements throughout app */
.small-txt {
  .fs(.8rem);
}
.round-corner {
  .border_radius (4px);
}
.separator-dash {
  display: block;
  float: left;
  margin: 0 10px;
  height: 40px;
  /*line-height: 50px;*/
  border-left: 2px solid #e6e6e6;
  color: @b2;
}
.fontawesome-trash:before {
  vertical-align: middle;
}
.fontawesome-angle-up.active:before {
  content: '\f107';
}
.post-tweets {
  height: auto;
  -webkit-transition: margin .2s ease;
  transition: margin .2s ease;
}
.post-tweets.hidden{
  visibility: hidden;
  height: 0;
}
#button-top-twitter-signup {
  > span {
    padding: 0 5px;
  }
}
#button-main-twitter-signup {
  padding: 10px;
  min-width: 300px;
  width: 28.90625%;
  color: @3;
  vertical-align: top;
  line-height: 35px;
  &:before {
    color: #F5B400;
    font-size: 1.5rem;
  }
}

/* MODAL EMAIL BOX */
.overlay-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: block;
  width: 100%;
  height: 100%;
  background: gray;
  text-align:center;
  opacity: 0.7;
}

#email_modal_form {
  position: fixed;
  top: 100px;
  z-index: 100;
}
#email_modal_form .fields {
  position: absolute;
  left: 490px;
  z-index: 1000;
  margin: 100px auto;
  width: 370px;
  background-color: #fff;
  color: #333;
  text-align:center;
}
input.modal-form-email-input {
  margin: 30px 15px 15px 15px;
  padding: 8px;
  width: 300px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  font-size: .9rem;
  + button[type='submit'] {
    margin: 10px;
    margin-bottom: 25px;
    padding: 5px 15px;
    border: none;
    background: @yellow;
    font-size: 14px;
    font-size: .9rem;
    cursor: pointer;
  }
}
.fields-header {
  padding: 10px;
  width: 100%;
  height: 50px;
  background: @yellow;
  .logo {
    margin: auto;
    padding-bottom: 10px;
    width: 70px;
    height: 40px;
    background: url('/assets/dark-logo.png') 0 -3px no-repeat;
    -webkit-background-size: 70px;
    -o-background-size: 70px;
    background-size: 70px;
  }
}
/* END MODAL EMAIL BOX */

.submit-now {
  float: left;
  margin-left: 20px;
  padding: 10px 15px;
  width: 20%;
  border: 1px solid #FAC10F;
  border: 1px solid darken(@yellow, 20%);
  background: @yellow;
  white-space: nowrap;
  font-size: 16px;
  font-size: 1rem;
  cursor: pointer;
}
.empty-feed {
  margin: auto;
  width: 50%;
}
input.import-feed-input {
  padding: 7px;
  width: 67%;
  border: 1px solid @e6;
  font-size: 14px;
  font-size: .9rem;
  line-height: 25px;
  &::-webkit-input-placeholder {
    font-size: 14px;
    font-size: .9rem;
    line-height: 25px;
  }
}
.import-feed-now {
  margin: 15px;
  text-align: center;
  font-size: 1.1rem;
  + form {
    margin: 10px;
  }
}
/* INTERACTIONS */
.reply-box {
  .fs(.9rem);
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  height: 50px;
  border: 1px solid @e6;
}
button.reply-tweet {
  .fs(.9rem);
  float: right;
  margin: 10px 0;
  padding: 7px;
  border: 1px solid @anchor;
  background: lighten(@anchor, 10%);
  color: #fff;
  cursor: pointer;
}
.delete-conv {
  .fw(bold);
  padding: 10px;
  width: 100%;
  border: 1px dashed @6;
  background: #FFF;
  > span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 50%;
  }
  > button {
    .fs(.9rem);
    .fw(100);
    padding: 10px;
    width: 100px;
    border: none;
    background: #FFF;
    &.delete {
      color: red;
    }
    &.cancel {
      color: @darkgray;
    }
  }
}
.arrow {
  display: inline;
  width: 0;
  height: 0;
  border-top: 20px solid #f00;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
/* styles for 'mark as not relevant' action */
.undo-conv {
  // position: absolute;
  // top: 0;
  // right: 0;
  // left: 0;
  // bottom: 0;
  .talign(center);
  .fw(500);
  padding: 10px 5px;
  border-bottom: 1px dashed #AAA;
  color: @3;
  > .unrelevant{

  }
}
.remove-tweet {
  background-color: #E68A8A;
}
.undo {
  background: #78B178;
}
.undo,
.remove-tweet {
  margin-left: 15px;
  padding: 8px 0;
  width: 15.42036125%;
  border: 1px solid rgba(0,0,0,.3);
  color: #fff;
  font-weight: 100;
  font-size: 0.9rem;
  cursor: pointer;
}
.button-area {
  text-align: right;
  .cancel-reply {
    .fs(.9rem);
    .cp();
      margin: 18px;
      border: none;
      background: transparent;
      color: @disabled-link;
    }
  }
.fontawesome-reply[disabled] {
  display: none;
}

.faded {
  opacity: .3;
}
.full-opaque {
  opacity: 1;
}
/* end INTERACTIONS */

.story-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  a {
    color:#000;
  }
  a:last-child
  {
    &:after { padding: 0 10px;
      content: "\f08e";
      font-size: 13px;
      font-family: 'fontawesome',sans-serif;
    }
  }
}
/*  */
.post-keywords {
  h5 {
    font-weight: 400;
  }
  + .blog-list-addkeyword-form {
    margin:5px 0;
  }
  ul.keyword_ulist {
    display: inline;
    margin-bottom: 10px;
    li {
      &.add-more {
        margin-top: 5px;
        padding: 4px 7px;
        border: 1px solid @blue;
        font-weight: bold;
        cursor: pointer;
        a {
          color: @blue;
          vertical-align: baseline;
        }
      }
      a {
        color: #444;
        i:before {
          padding: 5px 0 5px 5px;
          color: #999;
        }
      }
    }
  }
}
.blog-list-addkeyword-form {
  margin-left: 64px;
  form {
    display: none;
  }
  input {
    padding: 5px;
    line-height: 1;
  }
}
.fetch-new-posts {
  &.loading {
    .loading;
    display: inline-block;
    *display: inline;
    zoom: 1;
    border: none;
  }
}
.add_keyword_link {
  cursor: pointer;
}

.new-posts-status {
  display: none;
}

[class^=fontawesome-star]:before {
  font-size: 20px;
}
//feed-entries sort
.sort {
  float: left;
  margin-bottom: 10px;
  font-size: 18px;
  > span {
    margin-right: 10px;
  }
}
// media queries

@media (max-width: 950px){
  .post-area {
    position: relative !important;
    top: initial !important;
    float: none;
    clear: both;
    margin: 20px auto;
    width: 100%;
  }
  #blog-list {
    #left-side,
    #right-side {
      float: none;
      margin: auto;
      width: auto;
    }
  }
}
@media (max-width: 680px) {
  .blog-list-details {
    width: 75%;
  }
  #wrap {
    -ms-overflow-x: hidden;
    overflow-x: hidden;
  }
  #tags-search .input-section .input-tags {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    + .search-keyword {
      margin-top: 15px;
      width: 100%;
    }
  }
}
@media (max-width: 550px) {
  .undo, .remove-tweet {
    width: auto;
    padding: 10px;
  }
  div.post-area > div.post-area-heading > div {
    &[class*=fontawesome-],
    &[class*=relevance] {
      width: 100%;
      border-bottom: 1px solid @e6;
    }
  }
}
                /*------------ payment page styles -------------*/

.payment {
  
  width: 80%;
  margin: 3em auto;
  h1 { font-weight: bold; color: salmon; }
  h1 + p { border-bottom: 1px solid lightgray; padding-bottom: 1em; margin-bottom: 1em; }
  h1 + p + p { margin-bottom: 0.8em; }
  h1 + p ~ p { text-align: center; line-height: 1; margin-top: 10px; }
  .amount { font-size: 4em; }
  p:last-child { font-size: 0.8em; color: lightgray; }
}
                            /*------------------*/
/*--------STYLES FOR ABOUT US, TERMS AND PRIVACY POLICIES PAGES-------*/
.about-us-top {
  background-color: #d8d8d6;
  padding: 10%;
  margin-bottom: 20px;
  h1 {
    .font ( normal, normal, 4rem, 1, proxima-nova)
  }
  .top-dash {
    width: 8%;
    height: 4px;
    background-color: #e1736a;
    margin: 10px 0;
  }
}

address {
  margin-top: 50px;
  width: 20%;
  font-style: normal;
}
.about-us-desc {
  padding: 10%;
  > .head-text {
    margin: 20px 0;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
  }
  > p:not(:last-child) {
    width: 50%;
    margin-bottom: 30px;
  }
}
.toc-page,
.privacy-policy-page {
 width: 45%;
 margin: auto;
 > span { margin-bottom: 10px; }
 h2 {
  .font ( normal, normal, 1.2rem, 1, proxima-nova);
  padding: 20px 0;
}
p { margin-bottom: 20px; }
}
.last-update {
  float: right;
  margin-top: 20px;
}
@media (max-width: 800px) {
  #content-area { height: auto !important; }
  #mid-section {
   .demo-icon {
    p { font-size: 1rem; }
    > div { width: 100%; margin: auto; > div:not(.conversation):after { content: ''; } }
   }
  }
  #foot-contents {
    img, .foot-right > div {
      display: block;
      margin: auto;
      text-align: center;
      float: none;
    }
  }
}
@media (max-width: 768px) {
  .toc-page,
  .privacy-policy-page,
  .about-us-desc,
  address {
    width: 90%;
    p:not(:last-child) { width: auto; }
  }
  .blog-list-addkeyword-form input {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  #timeline-section-with-search input {
    display: block;
    width: 90%;
    float: none;
  }
}
