// IMPORTS
@import "zunkaless/_functions.less";
@import "zunkaless/_mixins.less";
@import "zunkaless/variables.less";

html { height: 100%; }
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 14px;
  line-height: 1.8rem;
  padding-top: 50px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  color: @black;
  background: @gray;
}
h1, .h1 {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 200;
}
h2, .h2 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 200;
}
h3, .h3 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}
h4, .h4 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 700;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
}
h6, .h6 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
}

a {
  color: @blue;
  .transition( all 0.3s ease-in-out );
  &:hover { color: darken(blue, 25%); }
  &:visited { color: darken( desaturate( @blue, 40% ), 10% ); }
}

.new-posts-status.alert {
  position: fixed;
  top: 50px;
  left: 25%;
  width: 50%;
  z-index: 9998;
  text-align: center;
  padding: 20px 0;
  background-color: @white;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.btn {
  display: inline-block;
  font-size: 1.2rem;
  font-family: @sans-serif;
  line-height: 1.8rem;
  background-color: darken(@gray, 10%);
  color: @black;
  padding: 0px 17px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  .transition( all 0.3s ease-in-out );
  &:active {
    box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: darken(@gray, 20%);
    color: #000;
  }
}
.btn-primary { color: @white; background-color: @blue; text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  &:hover { background-color: darken( @blue, 10% ); color: @white; }
  &:visited { color: darken(@white, 10%); }
}
.btn-info {}
.btn-success { color: @white; background-color: @green; text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  &:hover { background-color: darken( @green, 10% ); color: @white; }
  &:visited { color: darken(@white, 10%); }
}
.btn-warning { color: @black; background-color: @yellow; text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  &:hover { background-color: darken( @yellow, 10% ); }
  &:visited {  color: lighten(@black, 10%);}
}
.btn-danger { color: @white; background-color: @red; text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  &:hover { background-color: darken( @red, 10% ); color: @white; }
  &:visited { color: darken(@white, 10%); }
}

.btn-large {
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.btn-xlarge {
  font-size: 1.6rem;
  line-height: 3rem;
}

.btn-group {
  .btn { margin-left: -4px; }
  .btn:last-child,
  .btn:first-child { margin-left: 0; }
}

input {
  font-size: 1rem;
  line-height: 1.8rem;
  border: solid 1px darken(@gray, 10%);
  padding: 0 10px;
  border-radius: 4px;
}

.row {
  display: block;
  width: 100%;
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  overflow: auto;
  & .span2:last-child,
  & .span4:last-child,
  & .span6:last-child,
  & .span8:last-child,
  & .span10:last-child,
  & .span12:last-child { clear: right; } /* Check if this is correct. */
}
.span2,
.span3,
.span4,
.span6,
.span8,
.span10,
.span12 {
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}

.span1 { width: (100%/12) * 1%; }
.span2 { width: (100%/12) * 2%; }
.span3 { width: (100%/12) * 3%; }
.span4 { width: (100%/12) * 4%; }
.span5 { width: (100/12) * 5%; }
.span6 { width: 50%; }
.span7 { width: (100%/12) * 7%; }
.span8 { width: (100%/12) * 8%; }
.span9 { width: (100%/12) * 9%; }
.span10 { width: (100%/12) * 10%; }
.span11 { width: (100%/12) * 11%; }
.span12 { width: 100%; }

@media (max-width: 768px ) {
  .span2,
  .span4,
  .span6,
  .span8,
  .span10,
  .span12 {
    width: 100%;
    float: none;
  }
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.pull-left { float: left; }
.pull-right { float: right; }

.blank-space, .blank-space-large, .blank-space-xlarge {
  display: block;
  width: 100%;
}
.blank-space { padding: 15px 0; }
.blank-space-large { padding: 20px 0; }
.blank-space-xlarge { padding: 30px 0; }

ul.keywords,
.keyword_ulist {
  li {
    .searchTag { color: #444; }
    display: inline-block;
    line-height: 18px;
    background-color: @white;
    border: 2px solid pink;
    padding: 5px 10px;
    margin: 0 10px 10px 0;
  }
}

.c4c-tooltip + span {
  position: relative;
  bottom: -40px;
  left: -30px;
  background: @black;
  color: @white;
  padding: 5px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  border: 2px solid @yellow;
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}
.c4c-tooltip-content:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: @black;
  .rotate(45deg);
  top: -5px;
  left: 6px;
  border-style: solid;
  border-color: @yellow;
  border-width: 2px 0px 0px 2px;
}
