<%= form_tag charges_path, class:'payment' do %>
	<H1>You are using 7 days trial Version of C4C app.</H1>
	
  <%if @trial_ended%>
    <p>Your 7 days trial version has expired. Please upgrade to continue</p>
  <%else%>
    <p>Upgrade to pro Version. or <a href="<%= feed_entries_path%>">Continue Trial</a> </p>
  <%end%>

	<p>You will pay, <br/> $ <span class='amount'>5</span>/month<p>
	  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	      data-email="<%= current_user.email %>"></script>
	<p>Amount to be billed every month.</p>
<% end %>