<div id="foot-contents">
  <img src="/assets/dark-logo.png" alt="C4C logo" />
  <div class="foot-right">
  <div class="foot-rights">Copyrights © 2013 - C4C. All Rights Reserved</div>
    <div class="foot-text small-txt">
        <a href="/about_us">About.</a>
        <!-- <a href="/privacy-policy">Privacy.</a>
        <a href="/toc">Terms.</a> -->
    </div>
  </div>
</div>