  <div id="header">
    <a href="/" id="logo"><%= image_tag 'dark-logo.png', alt: 'c4c', class: 'site-logo' %></a>
    <% if current_user %>
    <div class="user-info">
      <a href="#">
        Hello  <%= user_name.titleize %>
        <i class="fontawesome-caret-down"></i>
      </a>
      <div class="dropdown">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => '' %>
      </div>
    </div>
    <% end %>
  </div>
<%= content_for :javascript do %>

<script>
  $(window).load(function() {
    $( '.user-info' ).mouseenter( function() {
      $( '.user-info .dropdown' ).addClass( 'expanded' );
    }).mouseleave( function() {
      $( '.user-info .dropdown' ).removeClass( 'expanded' );
    });
  });
</script>  
<% end %>
