<!DOCTYPE html>
<!--[if IE 8]>
    <html class="ie8">
<![endif]-->
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>C4C</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">
    <link rel="icon" href="/assets/fav-bkg.ico" type="image/png">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="//use.typekit.net/suy0tdp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="wrap-out">
        <%= render partial: '/layouts/header' %>
        <%= yield %>
        <%= yield :javascript %>
    </div>
    <%= render partial: '/layouts/footer' %>
  </body>
</html>
